h1 {
  margin-left: 180px;
}

h3{
  font-family: "Playfair Display";
  padding-top: 20px;
}

.project-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 200px;
  background-color:rgba(255, 228, 196, 0.6);
  min-width: 1600px;
}

.text-box{
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  padding: 0px 80px 80px 80px;
}

.skill-box{
  text-align: center;
}

.skills{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}

.skill{
  display: inline; 
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-box{
  align-content: center;
  position: relative;
  margin-left: 200px;
  height: 500px;
  width: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySlides {
  display: none;
}

.slide-img{
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  user-select: none;
}

.next {
  right: 0%;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption{
  font-family: 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;
  color: rgb(20, 20, 20);
  position: relative;
  font-size: 1em;
  margin-top: -32px;
  padding: 4px;
  text-align: center;
  background-color:rgba(255, 255, 255, 0.2)
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot-box{
  text-align: center;
  display: block;
  display: absolute;
  height: 20px;
}

.active, .dot:hover {
  background-color: rgb(140, 140, 140);
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}